.modal-content {
  border: none;
  border-radius: 0.5rem;
}

.modal-content img {
  width: 40%;
  border-radius: 50%;
  margin: 0 30%;
}

.modal-content .form-control {
  border-radius: 0.5rem;
}

.modal-content .form-label {
  font-weight: 500;
}

.modal-content .btn {
  background-color: #0d84fd;
  border: #0d84fd;
  font-weight: 500;
  border-radius: 0.5rem;
}
.modalFooter {
  text-align: center;
}

.modalFooter span {
  cursor: pointer;
}
